* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #F6DDCC;
    font-family: 'Courier New', Courier, monospace;    
}

h1 {
    font-size: 40px;
}

nav {
    margin-bottom: 60px;        
}

nav * {    
    display: inline-block;
}

nav span {
    font-weight:600;
    font-size: larger;
}

nav ul {
    margin-left: 100px;
}

nav ul li a {
    text-decoration: none;
    text-align: center;
    color: #435257;
    margin-left: 20px;
    margin-right: 20px;    
    font-size: 18px;
}

.content {
    margin: 15% 15%;
    margin-top: 1%;
    margin-botton: 0px;
}

.perfil {
    border-radius: 50%;
    width: 380px;
    height: 380px;
}

.information {
    display: grid;
    grid-template-columns: 50% 50%;
}

.information span {
    padding-right: 180px;    
    font-size: 60px;
    font-weight: 800;
}

.circles {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.circles a {
    border-radius: 50%;
    width: 110px;
    height: 110px;  
    display: flex;
    align-items: center;  
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
}

.resume-circle {
    background-color: #984B43;
}

.work-circle {
    background-color: #4590e4;
}

.skills-circle {
    background-color: #EAC67A;
}

.parrafo {
    font-size: large;
    text-align: justify;
    padding: 5px;
    padding-right: 65px;
}



footer {
    background-color: #63115c ;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
}

.footer-content {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;    
    padding: 10px;
}

.footer-content div {
    margin-inline: 30px 30px;
    color: rgb(247, 243, 243);
    
}

.footer-content div span {
    margin-bottom: 10px;
}

.footer-content div a {
    text-decoration: none;
    color: rgb(247, 243, 243);    
}






